:root{
    --primary-color: #eb0c23;
    --border-color: #bfbfbf
}

.card{
    border-radius: 15px;
    border: 1px solid var(--border-color);
    border-style: dashed;
}

.card-head{
    border-bottom: 0;
    padding-top: 20px;
}

.title{
    font-size: 25px;
    font-weight: 500;
    padding-top: 15px;
}

.title b{
    color: var(--primary-color);
    font-weight: 800;
}

.subtitle{
    font-size: 11px;
}

.generar{
    background-color: var(--primary-color);
}

.generar span{
    color: white;
}

.form-style input{
    border-radius: 10px;
}

.form-style input:focus{
    border-color: var(--primary-color);
}

.form-style input[type="checkbox"]:checked{
    background-color: var(--primary-color);
    color: white;
}

#copy{
    border: #E6E6E6 solid 1px;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
}

#generate{
    background-color: var(--primary-color);
    border: 0;
    color: white;
    border-radius: 10px;
}

#range-value{
    background-color: var(--primary-color);
    color: white;
    font-weight: 700;
}

.space{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.footer{
    font-size: 10px;
    text-align: center;
}

.footer a{
    color: #666666;
    border: 0;
}

.footer a:hover{
    color: var(--border-color);
}