{% extends 'base.html'%}
{% block content %}
    <div class="uk-card uk-card-default uk-card-small card">
        <div class="uk-card-header uk-flex uk-flex-column uk-flex-middle" style="border-bottom: 0; padding-top: 40px;">
            <img src="{{ url_for('static', filename='img/password.png') }}" alt="Zero" width="60" height="60">
            <span class="title">Zero<b>Pass</b></span>
            <span class="subtitle">Password Generator</span>
        </div>
        <div class="uk-card-body uk-card-small uk-flex uk-flex-column uk-flex-middle">
            <form class="uk-form-horizontal uk-margin-large form-style" action="{{ url_for('zero.pass_generator') }}" method="post">
                <div class="uk-margin">
                    <div class="uk-inline">
                        <a id="copy" class="uk-form-icon uk-form-icon-flip" onclick="copyPassword()"><i class="fa-regular fa-clone"></i></a>
                        {{ password.password_text(class="uk-input", placeholder="Password") }}
                    </div>
                    {{ password.generate_password(class="uk-button uk-button-default generar", placeholder="") }}
                </div>
                <div class="uk-margin" uk-margin>
                    <label class="uk-form-label" for="password-len">Password length: <span id="range-value" class="uk-badge"></span></label>
                    {{ password.password_length(class="uk-range", placeholder="") }}
                    <!-- <input class="uk-range" type="range" value="2" min="6" max="66" step="1" aria-label="Range"> -->
                </div>
            </form>
        </div>
    </div>
{% endblock %}